[user]
	name = Jonathan Chouraki
	email = jonathan.chouraki@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[alias]
	co = checkout
	c = commit
	s = status
	a = add
