[user]
	name = Jonathan Chouraki
	email = jonathan.chouraki@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[alias]
	co = checkout
	c = commit
	s = status
	a = add
    ap = add --patch
    ph = push
    phu = push -u origin HEAD
    pl = pull
    ck = checkout
    sw = switch -c
[pull]
	rebase = true
