[user]
	name = Jonathan Chouraki
	email = jonathan.chouraki@quatrecentquatre.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[alias]
	co = checkout
	c = commit
	s = status
	a = add
    ph = push
    pl = pull
